.workshops-div{
    background-color: var(--aqua);
    padding: 20px;
    width: 250px;
    min-width: 250px;
    outline: 2px dotted var(--teal);
    outline-offset: 10px;
}

.workshops-div:nth-child(){
    margin-right: 0;
}

.workshop-name{
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.participant{
    margin-top: 10px;
    padding: 3px 10px;
    border: 1px dotted var(--dark-grey);
    text-transform: capitalize;
    cursor: pointer;
}

.participant:hover{
    background-color: var(--dark-grey);
    color: var(--aqua);
    border: 1px dotted var(--aqua);
}

.participant:active{
    outline: 1px dotted var(--dark-grey);
    outline-offset: 5px;
}

#new-participant{
    position: fixed;
    top: 120px;
    right: 40px;
}

.workshops-container{
    width: 900px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title{
    color: var(--aqua);
    text-align: center;
    line-height: 2rem;
}

em{
    color: var(--aqua);
    line-height: 2rem;
}

.subtitle{
    color: var(--aqua);
    line-height: 1rem;
}

.title-card{
    text-align: center;
    border-left: 2px dotted var(--aqua);
    border-right: 2px dotted var(--aqua);
    padding: 20px 30px 20px 30px;
}

#add-workshop{
    position: fixed;
    top: 180px;
    right: 40px;
}

.name-trash-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.trash{
    cursor: pointer;
}